ul, body {
    margin: 0px;
    font-family: 'Slabo 27px', serif;
}
header {
    width: 100%;
    height: 80px;
    background: black;
    position: fixed;
    top: 0;
}
.contentContainer {
    margin:auto;
    width: 950px;
}
.choco {
    background-image: url('img/choco.png');
    background-repeat: no-repeat;
    width: 188px;
    height: 80px;
    float:left;
}
.cloud {
    background-image: url('img/tlo.png');
    background-repeat: no-repeat;
    width: 225px;
    height: 68px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -0%);
}
.more {
    display: inline-block;
}
.rad {
    border-radius: 50%;
    background: white;
    float:left;
    position: relative;
    left: 400px;
    margin:7px;
}
.circle1 {
  width: 25px;
  height: 25px;  
}.circle2 {
  width: 17px;
  height: 17px; 
}.circle3 {
  width: 12px;
  height: 12px;     
}
#nav-icon3 {
    display: none;
}
.menu > ul {
    color:white;
    list-style: none;
    text-align: right;
}
.closebtn {
    visibility:hidden;
}
li {
    display: inline-block;
    line-height: 80px;
    font-size: 0.9em;
    margin-left: 10px;
    &:hover {
        color: #45add8;
        cursor: pointer;
    }
}
nav {
   background-image: url('img/bgstart.png');
   height: 216px;
    -webkit-box-shadow: -1px 5px 5px 0px rgba(196,196,196,1);
    -moz-box-shadow: -1px 5px 5px 0px rgba(196,196,196,1);
    box-shadow: -1px 5px 5px 0px rgba(196,196,196,1);
    

    .navText {
        width: 50%;
        color: white;   
        h1 {
            margin:0;
            
        }
    }
    .navphoto {
        min-width: 50%;
        min-height: 50%;
        height: 216px;
    }
}
nav > .contentContainer > div {
    display: flex;
    align-items: center;
}
.firstSectionText {
    width: 70%;
    float:left;
    h1 {
        margin-top:1em;
        margin-bottom: 1em;
        font-size: 2em;
    }
    p {
        color:#8c8c8c;
    }
}
section {
    height: 380px;
}
.imgfloater {
    float:left;
    height: 210px;
}
.sizingTextSection {
   
    width: 29%;
    float: left;
    margin-left: 1%;
    .marg {
        margin:1em;
    }
    p {
        margin: 0;
    }
    h2 {
        color:#008f83;
    }
    .main {
        margin-top: 1em;
        margin-bottom: 1em;
    }
    .colorBig {
        font-size: 1.8em;
        color:#008f88;
    }
    .colorSmall {
        color:#74d2e3;
        font-size: 1.5em;
    }
    .greyspan {
        color:#ababab;
    }
}

article {
    height: 500px;
    color:white;
    background-color: black;
}   
article .contentContainer h1 {
    padding-top: 1em;
}
.textGallery {
    width: 25%;
    height: 365px;
    float: left;
    margin-right: 50px;
    p {
        margin:0;
    }
}
.gallery img {
   margin:6px;
   width: 200px;
    float:left;
}

.textside {
    width: 80%;
    
    h1 {
        font-size: 35px;
    }
    p {
       color:#8c8c8c;
    }
}
.photo {
    width: 100%;
    height: 300px;
    background: url(img/maliny.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.shapetext { 
    width: 70%;
    float:left;
    height: 175px;
    color:#8c8c8c;
}
.shape {
    margin: 60px 0 25px 25px;
}
.nearEnd {
    background-color: black;
    width: 100%;
}
.imgend {
    background: url(img/cookies.png);
    background-size: cover;
    height: 300px;
    width: 50%;
    
}
footer {
    background-color: black;
    color:white;
    height: 300px;
}
.cookies {
    background: url(img/cookies.png);
    background-repeat: no-repeat;
    width: 50%;
    height: 300px;
    float:left;
}
.cookietext {
        text-align: right;
        height: 300px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    p {
        font-size: 17px;
    }
}
body > aside > footer > div > div.cookietext > h1 {
    font-size: 35px;
    margin: 0;
    padding: 10px;
}
body > aside > footer > div > div.cookietext > p:nth-child(3) {
    text-decoration: underline;
}
.downFooter {
    height: 200px;
    display: flex;
    justify-content: space-around;
    width: 100%;
    background-color: white;
    div {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    
    div:nth-child(1) {
        float:left;
       
    }
}
.footerPara {
    color:#8c8c8c;
    font-size: 30px;
    span {
        color:#c2c2c2;

    }
}
.lastpara {
    color:#8c8c8c;
    margin: 0;
    text-align: center;
}
@media all and (max-width:970px) {
    .menu > ul {
        display: none;
    }
    #nav-icon3 {
          display: block;
          width: 60px;
          height: 45px;
          position: relative;
          float: right;
          margin: 15px;
          -webkit-transform: rotate(0deg);
          -moz-transform: rotate(0deg);
          -o-transform: rotate(0deg);
          transform: rotate(0deg);
          -webkit-transition: .5s ease-in-out;
          -moz-transition: .5s ease-in-out;
          -o-transition: .5s ease-in-out;
          transition: .5s ease-in-out;
          cursor: pointer;
        span {
          display: block;
          position: absolute;
          height: 9px;
          width: 100%;
          background: white;
          border-radius: 9px;
          opacity: 1;
          left: 0;
          -webkit-transform: rotate(0deg);
          -moz-transform: rotate(0deg);
          -o-transform: rotate(0deg);
          transform: rotate(0deg);
          -webkit-transition: .25s ease-in-out;
          -moz-transition: .25s ease-in-out;
          -o-transition: .25s ease-in-out;
          transition: .25s ease-in-out;
        }
    }
    #nav-icon3 span:nth-child(1) {
      top: 0px;
    }

    #nav-icon3 span:nth-child(2),#nav-icon3 span:nth-child(3) {
      top: 18px;
    }

    #nav-icon3 span:nth-child(4) {
      top: 36px;
    }

    #nav-icon3.open span:nth-child(1) {
      top: 18px;
      width: 0%;
      left: 50%;
    }

    #nav-icon3.open span:nth-child(2) {
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg);
    }

    #nav-icon3.open span:nth-child(3) {
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      transform: rotate(-45deg);
    }

    #nav-icon3.open span:nth-child(4) {
      top: 18px;
      width: 0%;
      left: 50%;
    }
    
    .menu ul {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: #111;
        overflow-x: hidden;
        padding: 0;
        padding-top: 70px;
        text-align: center;
        li {
            text-decoration: none;
            font-size: 25px;
            color: #818181;
            display: block;
            transition: 0.3s
                
        }
        li:hover {
            color: #f1f1f1;
        }
    }
      
}